{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>
<style>
  .heading {
    padding-bottom: 31px !important;
  }
  .card-item {
    margin-right:1%;
  
}
.navig {
    border: none !important;
    border-bottom:none !important;
  }
  .link-nav:active {
    border:none !important;
  }
  .link-nav {
    border:none !important;
  }
  .divtags
    {
      border: 1px solid #ddd;
      background-color: #ddd; 
      display: inline-block; 
      padding: 0.5%; 
      margin: 1%;
    }

  @media only screen and (min-width: 768px) and (max-width: 1180px) {
    .navnav {
      text-align: center;
      padding-bottom: 5%;
    }
    .tabrow
    {
      justify-content:center;
    }
    .navig
    {
      justify-content:center;
    }
    .tabrow{
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (min-width: 1180px) {
    #myTabContent {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    #myTab {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .navig {
      border: none !important;
      border-bottom: none !important;
    }
    .link-nav:active,
    .link-nav {
      border: none !important;
    }
  }
  @media (max-width: 768px) {
    .nav-tabs {
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto !important;
    }
    .nav-item {
      width: 100% !important;
    }
    .nav-link {
      padding: 10px 0 !important;
      white-space: normal !important;
      overflow: visible !important;
      text-overflow: clip !important;
      
    }


  }
</style>


<section class="section" style="position:relative; z-index: 0 !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ .Title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs navig" id="myTab" role="tablist">
      <li class="nav-item navnav" role="presentation">
        <a class="nav-link text-center link-nav active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
      </li>
      <li class="nav-item navnav" role="presentation">
        <a class="nav-link text-center link-nav" id="society-tab" data-toggle="tab" href="#society" role="tab" aria-controls="society" aria-selected="false">AI and Society</a>
      </li>
      <li class="nav-item navnav" role="presentation">
        <a class="nav-link text-center link-nav" id="understand-tab" data-toggle="tab" href="#understandable" role="tab" aria-controls="understandable" aria-selected="false">Making AI Understandable</a>
      </li>
      <li class="nav-item navnav" role="presentation">
        <a class="nav-link text-center link-nav" id="safe-tab" data-toggle="tab" href="#safe" role="tab" aria-controls="safe" aria-selected="false">Safe AI</a>
      </li>
    </ul>
    <br><br>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="mb-40" style="display: flex; flex-wrap: wrap;">
          <div class="row tabrow">
            {{ range (where .Site.RegularPages "Section" "projects") }}
            <div class="card mb-3 card-item" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ .Params.image | absURL }}" class="card-img" alt="Card Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{.Params.title}}</h5>
                    {{ if .Params.link }}
                    <a href="{{ .Params.link }}" class="btn btn-primary">View</a>
                    {{ else }}
                    <a href="{{ .Permalink }}" class="btn btn-primary">View</a>
                    {{ end }}
                    <br>
                    <br>
                    {{ $counter := 0 }}
                    {{ range .Params.tags }}
                        {{ if eq (mod $counter 1) 0 }}
                            <div style="clear: both;"></div>
                        {{ end }}
                        <a href="/tags/{{ . }}" style="text-decoration: none;">
                            <div class = "divtags">
                                <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
                            </div>
                        </a>
                        {{ $counter = add $counter 1 }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="society" role="tabpanel" aria-labelledby="society-tab">
        <div class="row" style="justify-content:center;">
          {{ range (where .Site.RegularPages "Section" "projects") }}
          {{ if in .Params.filters "ai-and-society" }}
          <div class="card mb-3 card-item" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ .Params.image | absURL }}" class="card-img" alt="Card Image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{.Params.title}}</h5>
                  {{ if .Params.link }}
                  <a href="{{ .Params.link }}" class="btn btn-primary">View</a>
                  {{ else }}
                  <a href="{{ .Permalink }}" class="btn btn-primary">View</a>
                  {{ end }}
                  <br>
                    <br>
                    {{ $counter := 0 }}
                    {{ range .Params.tags }}
                        {{ if eq (mod $counter 2) 0 }}
                            <div style="clear: both;"></div>
                        {{ end }}
                        <a href="/tags/{{ . }}" style="text-decoration: none;">
                            <div class = "divtags">
                                <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
                            </div>
                        </a>
                        {{ $counter = add $counter 1 }}
                    {{ end }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="tab-pane fade" id="understandable" role="tabpanel" aria-labelledby="understand-tab">
        <div class="row" style="justify-content:center;">
          {{ range (where .Site.RegularPages "Section" "projects") }}
          {{ if in .Params.filters "making-ai-understandable" }}
          <div class="card mb-3 card-item" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ .Params.image | absURL }}" class="card-img" alt="Card Image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{.Params.title}}</h5>
                  {{ if .Params.link }}
                  <a href="{{ .Params.link }}" class="btn btn-primary">View</a>
                  {{ else }}
                  <a href="{{ .Permalink }}" class="btn btn-primary">View</a>
                  {{ end }}
                  <br>
                    <br>
                    {{ $counter := 0 }}
                    {{ range .Params.tags }}
                        {{ if eq (mod $counter 2) 0 }}
                            <div style="clear: both;"></div>
                        {{ end }}
                        <a href="/tags/{{ . }}" style="text-decoration: none;">
                            <div class = "divtags">
                                <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
                            </div>
                        </a>
                        {{ $counter = add $counter 1 }}
                    {{ end }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="tab-pane fade" id="safe" role="tabpanel" aria-labelledby="safe-tab">
        <div class="row" style="justify-content:center;">
          {{ range (where .Site.RegularPages "Section" "projects") }}
          {{ if in .Params.filters "safe-ai" }}
          <div class="card mb-3 card-item" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ .Params.image | absURL }}" class="card-img" alt="Card Image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{.Params.title}}</h5>
                  {{ if .Params.link }}
                  <a href="{{ .Params.link }}" class="btn btn-primary">View</a>
                  {{ else }}
                  <a href="{{ .Permalink }}" class="btn btn-primary">View</a>
                  {{ end }}
                  <br>
                    <br>
                    {{ $counter := 0 }}
                    {{ range .Params.tags }}
                        {{ if eq (mod $counter 2) 0 }}
                            <div style="clear: both;"></div>
                        {{ end }}
                        <a href="/tags/{{ . }}" style="text-decoration: none;">
                            <div class = "divtags">
                                <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
                            </div>
                        </a>
                        {{ $counter = add $counter 1 }}
                    {{ end }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}