{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}

<style>
	.banner-section
	{
		margin-top:6%;
		background-color: #f4f4f4 ;
	}
	.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width:200px) and (max-width:692px)
{
	.banner-section
	{
		margin-top:16%;
	}

}
</style>
<!-- hero area -->
<section class="testimonials section banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0 d-flex align-items-center justify-content-center">
				<img class="img-fluid banner-img" height="75%" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-40">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}